$color-madison-bg: #092a5c;
$color-madison-font: #092a5c;

.views-column-control-active {
  position: relative;

  .view-content {
    position: relative;
  }

  .views-column-control-select-filter-form,
  .views-column-control-select-column-form {
    background: white;
    padding: 20px;
  }
  .views-column-control-widget {
    position: absolute;
    top: 5px;
    right: 2px;
    @media(max-width: 1024px) {
      right: 0;
      top: 0;
    }
    @media(max-width: 768px) {
      right: 15px;
      top: 0;
    }
  }
  div.views-column-control-widget div.control {
    border: none;
    z-index: 9;
    position: absolute;
    top: 0;
    right: 4px;
    border: 0;
    padding: 5px;
    &:before {
      font-family: FontAwesome;
      content: '\f013';
    }
    @media(max-width: 1024px) {
      padding: 5px 10px;
    }
    @media(max-width: 768px) {
      padding: 5px 10px;
    }
  }
  #views-column-control-column-wrapper,
  #views-column-control-filter-wrapper {
    width: 380px;
    position: absolute;
    right: -3px;
    top: -6px;
    z-index: 8;
    border: 1px solid lighten($color-madison-bg, 50%);
    .form-actions  {
      input[type="submit"] {
        margin-right: 10px;
        width: auto;
        float: none;
        margin: 0;
        height: 24px;
      }     
      #edit-reset {
        margin-left: 15px;
      }
    }
    table {
      th {
        width: auto;
        padding: 10px 5px;
        font-size: 11px;
        text-transform: uppercase;
        background: lighten($color-madison-bg, 77%);
        color: $color-madison-font;
      }
      td {
        padding: 5px 10px;
        .tabledrag-handle {
          float: left;
        }
        .form-type-checkbox {
          padding: 0;
          margin: 0;
        }
      }
    }

  }
  #views-column-control-column-wrapper,
  #views-column-control-filter-wrapper,
  #views-column-control-column-wrapper .tabledrag-toggle-weight-wrapper,
  #views-column-control-filter-wrapper .tabledrag-toggle-weight-wrapper {
    display: none;
  }

  #views-column-control-column-wrapper .tabledrag-changed-warning,
  #views-column-control-filter-wrapper .tabledrag-changed-warning {
    display: none !important; /* overriding inline style of display:block; */
  }
}

.views-column-control-selections {
  a {
    display: block;
  }
  .views-column-control-select-all {
    float: left;
  }
  .views-column-control-select-none {
    float: right;
  }
}

.views-column-control-missing-filters {
  font-size: .8em;
  .views-column-control-missing-message {
    font-weight: bold;
  }
  ul {
    li {

    }
  }
  .views-column-control-title {

  }
  .views-column-control-field {

  }
  .views-column-control-value {

  }
}
