/* line 4, ../sass/views_column_control.scss */
.views-column-control-active {
  position: relative;
}
/* line 7, ../sass/views_column_control.scss */
.views-column-control-active .view-content {
  position: relative;
}
/* line 11, ../sass/views_column_control.scss */
.views-column-control-active .views-column-control-select-filter-form,
.views-column-control-active .views-column-control-select-column-form {
  background: white;
  padding: 20px;
}
/* line 16, ../sass/views_column_control.scss */
.views-column-control-active .views-column-control-widget {
  position: absolute;
  top: 5px;
  right: 2px;
}
@media (max-width: 1024px) {
  /* line 16, ../sass/views_column_control.scss */
  .views-column-control-active .views-column-control-widget {
    right: 0;
    top: 0;
  }
}
@media (max-width: 768px) {
  /* line 16, ../sass/views_column_control.scss */
  .views-column-control-active .views-column-control-widget {
    right: 15px;
    top: 0;
  }
}
/* line 29, ../sass/views_column_control.scss */
.views-column-control-active div.views-column-control-widget div.control {
  border: none;
  z-index: 9;
  position: absolute;
  top: 0;
  right: 4px;
  border: 0;
  padding: 5px;
}
/* line 37, ../sass/views_column_control.scss */
.views-column-control-active div.views-column-control-widget div.control:before {
  font-family: FontAwesome;
  content: '\f013';
}
@media (max-width: 1024px) {
  /* line 29, ../sass/views_column_control.scss */
  .views-column-control-active div.views-column-control-widget div.control {
    padding: 5px 10px;
  }
}
@media (max-width: 768px) {
  /* line 29, ../sass/views_column_control.scss */
  .views-column-control-active div.views-column-control-widget div.control {
    padding: 5px 10px;
  }
}
/* line 48, ../sass/views_column_control.scss */
.views-column-control-active #views-column-control-column-wrapper,
.views-column-control-active #views-column-control-filter-wrapper {
  width: 380px;
  position: absolute;
  right: -3px;
  top: -6px;
  z-index: 8;
  border: 1px solid #73a5f1;
}
/* line 57, ../sass/views_column_control.scss */
.views-column-control-active #views-column-control-column-wrapper .form-actions input[type="submit"],
.views-column-control-active #views-column-control-filter-wrapper .form-actions input[type="submit"] {
  margin-right: 10px;
  width: auto;
  float: none;
  margin: 0;
  height: 24px;
}
/* line 64, ../sass/views_column_control.scss */
.views-column-control-active #views-column-control-column-wrapper .form-actions #edit-reset,
.views-column-control-active #views-column-control-filter-wrapper .form-actions #edit-reset {
  margin-left: 15px;
}
/* line 69, ../sass/views_column_control.scss */
.views-column-control-active #views-column-control-column-wrapper table th,
.views-column-control-active #views-column-control-filter-wrapper table th {
  width: auto;
  padding: 10px 5px;
  font-size: 11px;
  text-transform: uppercase;
  background: #f0f5fe;
  color: #092a5c;
}
/* line 77, ../sass/views_column_control.scss */
.views-column-control-active #views-column-control-column-wrapper table td,
.views-column-control-active #views-column-control-filter-wrapper table td {
  padding: 5px 10px;
}
/* line 79, ../sass/views_column_control.scss */
.views-column-control-active #views-column-control-column-wrapper table td .tabledrag-handle,
.views-column-control-active #views-column-control-filter-wrapper table td .tabledrag-handle {
  float: left;
}
/* line 82, ../sass/views_column_control.scss */
.views-column-control-active #views-column-control-column-wrapper table td .form-type-checkbox,
.views-column-control-active #views-column-control-filter-wrapper table td .form-type-checkbox {
  padding: 0;
  margin: 0;
}
/* line 90, ../sass/views_column_control.scss */
.views-column-control-active #views-column-control-column-wrapper,
.views-column-control-active #views-column-control-filter-wrapper,
.views-column-control-active #views-column-control-column-wrapper .tabledrag-toggle-weight-wrapper,
.views-column-control-active #views-column-control-filter-wrapper .tabledrag-toggle-weight-wrapper {
  display: none;
}
/* line 97, ../sass/views_column_control.scss */
.views-column-control-active #views-column-control-column-wrapper .tabledrag-changed-warning,
.views-column-control-active #views-column-control-filter-wrapper .tabledrag-changed-warning {
  display: none !important;
  /* overriding inline style of display:block; */
}

/* line 104, ../sass/views_column_control.scss */
.views-column-control-selections a {
  display: block;
}
/* line 107, ../sass/views_column_control.scss */
.views-column-control-selections .views-column-control-select-all {
  float: left;
}
/* line 110, ../sass/views_column_control.scss */
.views-column-control-selections .views-column-control-select-none {
  float: right;
}

/* line 115, ../sass/views_column_control.scss */
.views-column-control-missing-filters {
  font-size: .8em;
}
/* line 117, ../sass/views_column_control.scss */
.views-column-control-missing-filters .views-column-control-missing-message {
  font-weight: bold;
}
